<!DOCTYPE html>
<html ng-app="mainApp">

	<!-- HEAD -->
	<head>

		<title>Component Test Bed</title>

		<!-- Locks zooming on mobile devices, sets an initial zoom of 1 and doesn't allow for change  -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>  

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

		<!-- Cascading Style Sheet(s) -->
		<link
      rel="stylesheet"
      type="text/css"
      href="bower_components/bootstrap/dist/css/bootstrap.css"/>

		<!-- build:css styles/optimized.css -->
		<link
      rel="stylesheet"
      type="text/css"
      href="styles/master.css">
		<!-- endbuild -->
		<style type="text/css">
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
		</style>

	</head>


	<!-- BODY -->
	<body ng-controller="TestCtrl">

		<holy-grail
			ng-cloak
		  show-west="myModel.showWest"
		  show-east="myModel.showEast"
		  show-head="myModel.showHead"
		  show-foot="myModel.showFoot"
		  layout-config="myModel.layoutConfig"
		  class="desktop-layout">

		    <div class="west-head west-col head-row">1</div>
		    <div class="west-body west-col body-row">2</div>
		    <div class="west-foot west-col foot-row">3</div>

		    <div class="main-head main-col head-row">4</div>
		    <div class="main-body main-col body-row">5
	        <button class="btn btn-primary" ng-click="toggle();">Toggle</button>
	        <button class="btn btn-primary" ng-click="toggleWest();">Toggle West</button>
	        <button class="btn btn-primary" ng-click="toggleEast();">Toggle East</button>
	        <button class="btn btn-primary" ng-click="toggleHead();">Toggle Head</button>
	        <button class="btn btn-primary" ng-click="toggleFoot();">Toggle Foot</button>
	      </div>
		    <div class="main-foot main-col foot-row">6</div>

		    <div class="east-head east-col head-row">7</div>
		    <div class="east-body east-col body-row">8</div>
		    <div class="east-foot east-col foot-row">9</div>
		</holy-grail>

		<!-- LoDash -->
		<script
			type="text/javascript"
			src="bower_components/lodash/dist/lodash.js">
		</script>

		<!-- AngularJS and components thereof -->
		<script
			type="text/javascript"
			src="bower_components/angular/angular.js">
		</script>
		<script
			type="text/javascript"
			src="bower_components/angular-resource/angular-resource.js">
		</script>
		<script
			type="text/javascript"
			src="bower_components/angular-route/angular-route.js">
		</script>
		<script
			type="text/javascript"
			src="bower_components/angular-animate/angular-animate.js">
		</script>
		<script
			type="text/javascript"
			src="bower_components/angular-sanitize/angular-sanitize.js">
		</script>

		<script
			type="text/javascript"
			src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js">
		</script>

		<script
			type="text/javascript"
			src="bower_components/angular-ui-router/release/angular-ui-router.js">
		</script>
		
		<script
			type="text/javascript"
			src="scripts/mainApp.js">
		</script>
		<script
			type="text/javascript"
			src="component/component.js">
		</script>
	</body>

</html>