<div ng-repeat="(key, value) in options track by $index" style="max-width:400px;">
  <div ng-if="isObject(options[key])" class="well">
    <input class="pull-right" type="checkbox" ng-model="visible">
    <span ng-click="visible=!visible">Object: {{key}}</span>
    <options-form ng-show="visible" options="options[key]">
    </options-form>
    <br/>
  </div>
  <div class="container-fluid" ng-if="getType(options[key])!='Array'&&getType(options[key])!='Object'">
    <div class="row">
      <div class="col-xs-8">
        Property: {{key}}
      </div>
      <div ng-switch="getType(value)">
        <input ng-switch-default block-mouse-down class="col-xs-4" type="text" ng-model="options[key]">
        <input ng-switch-when="Boolean" block-mouse-down class="col-xs-4" type="checkbox" ng-model="options[key]">
      </div>
    </div>
  </div>
</div>